body{
	background-image: url(../imagens/fundo.png);
	background-position:center top;
	background-repeat:no-repeat;
	
}
*{
	border:0;
	padding:0;
}
#hj{
	color:#FF0000;
}
.nav1{
	width:100%;
	height:40px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.nav1 div{
	text-align:center;
	width:15%;
	height:30px;
	display:flex;	
	justify-content:space-around;
	background-color:#808080;
    font-family: opensans, sans-serif;
	text-decoration:none;
	border-radius:30%;
	border:3px solid #000000;
}
nav div{
		align-items:center;
		text-decoration:none;		
}
a{
	text-decoration:none;
	color:#000000;
}
#caranopc{
	height:500px;
	text-align:left;
}	
p{
	padding:10px;
}
.div1{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.sec1{
	width:100%;
	height:40px;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.sec1 div{
	text-align:center;
	width:15%;
	height:190px;
	display:flex;	
	justify-content:space-around;
	border:3px solid #000000;
	border-radius:100%;
	padding:30px;
}
#h{
	text-align:center;
	color:#FF0000;
}
footer{
	background-color:#000000;
	color:#FFFFFF;
	padding:20px;
	border:10px solid #000000;
}